# Ignore everything in build folder
build/*

#ignore CodeBlocks' files
InvertedPendulumVisualControl.depend
InvertedPendulumVisualControl.layout

#ignore (temporary) webcam calibration files
last_webcam_calibration.txt

#ignore trained files
output/*
